html {
  height: 100%;
  width: 100%;
}

.sidebar {
 position: fixed;
 top:0;
  left: 0;
  background-color: lightblue;
  width:100px;
  height:100%;
  padding-top: 20px;
  padding-left: 12px;
  line-height: 3em;
  font-size: 110%;
}
body{
  padding-left: 120px;
  padding-right: 8px;
}
